<section id ="bulk_discounts">
      <p> <%=@merchant.name%>'s Discounts
      <% @merchant.bulk_discounts.each do |discount|%>
            <li><%= discount.percentage_discount %>% OFF <%= discount.quantity_threshold %> OR MORE OF ONE ITEM
            View <%= link_to "#{discount.tag}", merchant_bulk_discount_path(@merchant, discount.id) %>
            <br>
            <%= button_to "delete #{discount.tag}",merchant_bulk_discount_path(@merchant, discount.id), method: :delete %>
            </li>
        <% end %>
      </p>
    </section>

<section id ="new_discount">
<%= link_to "Create a new discount", new_merchant_bulk_discount_path(@merchant), method: :get %>
</section>

<h2>Upcoming Holidays</h2>
<ol>
<% @holidays.each do |holiday| %>
  <li><%= holiday["localName"]%>  date: <%= holiday["date"]%></li>
<% end%>
</ol>