<%= render partial: "shared/nav" %>

<br>

<body>
  <div class="row">
    <h4> My Bulk Discounts:</h4>
  </div>

  <% @bulk_discounts.each do |discount| %>
    <p>Quantity Threshold: <%= discount.quantity_threshold %>
    <p>Percentage Discount: <%= discount.percent_discount %>
    <p><%= link_to "Bulk Discount #{discount.id}", merchant_bulk_discount_path(@merchant, discount) %></p>
 <%= button_to "Delete Bulk Discount #{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete, class: "delete-button" %>
  <br>
  <% end %>
</body>

<br>

<div class="nav-container container-fluid">
<%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %>
  <br>
</div>