<%= render partial: "shared/nav" %>


  <div class="row">
    <p class='col-12'>Add New Discount</p>
  </div>

  <%= form_with url: merchant_bulk_discounts_path, method: :post do |form| %>
  <%= form.label :percentage_discount %>
  <%= form.text_field :percentage_discount %>
  <%= form.label :quantity_threshold %>
  <%= form.text_field :quantity_threshold %>
  <%= form.submit "Submit" %>
<% end %>