<%= render partial: "shared/nav" %>

<%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant) %>

<div class="row">
  <div class="mr-auto col-sm-6">
    <p class='mr-auto'><%= @merchant.name %>'s Coupons</p>
  </div>
  <%# <div class="col-sm-6 column-header">
    <p class='ml-auto'>Items Ready to Ship</p>
  </div> %>
</div>

<div class="mr-auto col-sm-6">
  <ul>
    <section id="<%= @merchant.id %>-coupons">
      <p><% @coupons.each do |coupon| %>
        <% if coupon.discount_type == "percentage" %>
          <li>Coupon Name: <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %> | Discount Amount: <%= number_to_percentage(coupon.discount_amount, precision: 0) %> off</li>
        <% elsif coupon.discount_type == "dollars" %>
          <li>Coupon Name: <%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %> | Discount Amount: <%= number_to_currency(coupon.discount_amount, precision: 0) %> off</li>
        <% end %>
      <% end %>
      </p>
    </section>
  </ul>
</div>