<%= render partial: "shared/nav" %>
<h1><%= @coupon.name %></h1>
<p>Unique Code: <%= @coupon.unique_code %></p>
<p>Discount: <%= @coupon.discount %></p>
<p>Status: <%= @coupon.status %></p>
<p>Times Used: <%= @coupon.times_used %></p>
<p><%= button_to 'Deactivate Coupon', "/merchants/#{@merchant.id}/coupons/#{@coupon.id}", method: :patch %></p>