<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'>Coupon Name: <%= @coupon.name %></p>
  </div>

  <p>Code: <%= (@coupon.code) %></p>
  <p>Status: <%= (@coupon.status) %> <strong></p>
  <% if @coupon.kind = "Percentage" %>
    <p>Percentage Discount: <%= number_to_percentage(@coupon.perc_disc, precision: 0 ) %></p>
  <% elsif @coupon.kind = "Dollar" %>
    <p>Dollar Discount: <%= number_to_currency(@coupon.dollar_disc) %></p>
  <% end %>
  <p>Number of Uses: <%= @coupon.used_transactions %></p>
  <% unless @coupon.status == ("deactivated") %>
    <%= form_with(model: @coupon, url: merchant_coupon_path(@merchant, @coupon), method: :patch) do |f| %>
      <%= f.hidden_field :status, value: "deactivated" %>
      <%= f.submit "Deactivate" %>
    <% end %>
  <% end %>
</body>