<%= render partial: "shared/nav" %>

<div class="row">
  <div class="col-sm-6 column-header">
    <p class='mr-auto'>Bulk Discount Details</p>
  </div>
  <div class="col-sm-6 column-header">
    <p class='ml-auto'>[blank]</p>
  </div>
</div>

<div class="mr-auto col-sm-6">
  <table class="table">
    <tr>
      <td>ID</td>
      <td>Discount %</td>
      <td>Qty required</td>
    </tr>
      <tr id="discount_details">
        <td><%= @discount.id %></td>
        <td id="percentage_<%=@discount.id%>"><%= @discount.percentage %></td>
        <td id="threshold_<%=@discount.id%>"><%= @discount.threshold %></td>
        <td><%= link_to "Edit Discount", edit_merchant_discount_path(@merchant, @discount) %></td>
        <td><%= link_to "Delete Discount", merchant_discount_path(@merchant, @discount), method: :delete %></td>
      </tr>
  </table>
  <p>
    <%= link_to "Create new bulk discount", new_merchant_discount_path(@merchant.id) %>
  </p>
</div>

<div class="ml-auto col-sm-6">
  <ul>
    <section>
      <p>
        <li>[blank]</li>
      </p>
    </section>
  </ul>
</div>